/* Base styles for the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; 
    height: 60px; /* Adjust height if needed */
    display: flex;
    background-color: var(--nav-bg);
    color: var(--secondary-font-color);
}

/* Container for navbar content */
.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    max-width: 1200px;
}

/* Hamburger icon styling */
.navbar-toggle {
    background: none;
    border: none;
    color: #fff; /* White color for hamburger icon */
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem; /* Adjust padding */
}

/* Menu styling */
.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center; /* Center menu items */
    transition: transform 0.3s ease;
    background-color: var(--nav-bg);
}



/* Menu link styling */
.navbar-menu a {
    color: #ffffff; /* White color for menu links */
    text-decoration: none;
    padding: 0.5rem 1rem; /* Adjust padding */
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Active menu link styling */
.navbar-menu a.active {
    color: #ffffff; /* Change color for the active link */
    border-bottom: 4px solid #ffffff; /* Optional: underline active link */
    font-weight: 900;
}

/* Menu link hover effect */
.navbar-menu a:hover {
    color: #ffffffb4; /* Change hover color if needed */
}

/* Responsive styles */
@media (max-width: 899px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Height of the navbar */
        left: 0;
        width: 100%;
        padding: 15px;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a {
        padding: 1rem; /* Larger padding for mobile */
        display: block;
        text-align: center;
    }

    .navbar-toggle {
        display: block; /* Show hamburger menu on mobile */
    }
}

@media (min-width: 900px) {
    .navbar-toggle {
        display: none; /* Hide hamburger menu on desktop */
    }

   .navbar{
    justify-content: center;
    align-items: center;
   }
    .navbar-container{
        justify-content: center;
        align-items: center;
       
    }

    .navbar-menu{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        column-gap: 8px;
    }

    .navbar-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .navbar-menu li a {
        font-size: 18px;
        line-height: 1.2;
    }

}
