
/* Personal Info Section */
.personal-info {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 1px;
    background-color: var(--primary-bg);
    color: var(--secondary-font-color);
  }
  
  .profile-photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 8px;
  }
  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-image: url('../../../public/images/profile.jpeg');
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
  
  }
  
  .personal-info:hover .profile-photo {
    transform: scale(1.1); /* Zoom effect on hover */
  }
  
  .personal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 10px;
    width: 100%;
    min-width: 100%;
    /* background-color: var(--personal-info-bg); */
  }
  
  .personal-text h2, p {
    margin: 0;
  }
  
  .personal-info i {
    font-size: 24px; /* Size of the icon */
    color: #0072ff; /* Icon color */
    margin-right: 10px;
  }
  

  /* Mobile-First Approach */
  @media (min-width: 600px) { 
    .personal-info{
      width: 90%;
    }
   
    
  }
  
  @media (min-width: 900px) {
    .personal-info {
      width: 95%;
    }

  }
  
