
/* Contact Section */
.contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
  }

  .contact h3 {
    color: var(--secondary-font-color);
  }

  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contact-info {
    user-select: text;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
  }

  .contact-info p {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
    font-size: 5px;
    min-width: 225px;
    overflow: hidden;
    max-width: 100%;
    min-height: 56px;
    background-color: var(--secondary-bg);
  }

  .contact-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 1rem;
  }

  p > .contact-links {
    font-size: 1rem;
  }


  .contact-info p:hover {
    background:linear-gradient(to right, #869db4, #317bc4); /* Light blue background on hover */
    transform: translateX(20px); /* Slight movement to the right on hover */
  }

  .contact-info a {
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease; /* Smooth transition for link colors */
  }

  .contact-info a:hover{
    text-decoration: underline;
    text-decoration-color: #0072ff;
    color: #005bb5; /* Slightly darker blue on hover */

  }
  
  .contact-links > i {
    font-size: 2rem; /* Size of the icon */
    color: #0072ff; /* Icon color */
    transition: color 0.3s ease; /* Smooth transition for icon color */
  }

  

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 500px;
    min-width: 100px;
    background-color: var(--secondary-bg);
  }

  .contact-form label, button {
    font-size: 1rem;
  }
  
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #cac4c4;
    color: #000000;
  }
  
  .contact-form button {
    background-color: #0072ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #005bb5;
  }

  

/* Mobile-First Approach */
@media (min-width: 600px) {
  .contact{
    width: 90%;
    align-items: flex-start;
  }

  .contact-container{
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .contact-links{
    margin-left: 0;
  }

  .contact-info{
    gap: 10px;
  }


}
  

  
  @media (min-width: 900px) {
   .contact{
    width: 95%;
   }
    .contact-info{
      align-items: flex-start;
    }

    .contact-container{
      justify-content: flex-start;
      gap: 40px;
    }
  
    .contact{
      align-items: flex-start
    }

  }